.mp-stacks-eddcart-container{
	margin:10px;	
}
.mp-stacks-eddcart-container .edd-cart-item .edd-cart-item-separator{
	display:none!important;	
}
.mp-stacks-eddcart-container .edd-cart{
	margin:0px;
	list-style:none;
	display:inline-block;
	text-align:center;
	max-height:0px;	
	opacity:0;
	overflow: hidden;
	-webkit-transition: all .8s;
	-moz-transition:    all .8s;
	transition:         all .8s;
}
.mp-stacks-eddcart-container:hover .edd-cart{
	max-height: 1000px;
	opacity:1;
	-webkit-transition: all 1.0s cubic-bezier(0.42,0,0.58,1);
	-moz-transition:    all 1.0s cubic-bezier(0.42,0,0.58,1);
	transition:         all 1.0s cubic-bezier(0.42,0,0.58,1);
}
.mp-stacks-eddcart-container .edd-cart .edd-cart-item-title{
	font-weight:700;	
}
.mp-stacks-eddcart-container .edd-cart .edd-cart-item,
.mp-stacks-eddcart-container .edd_subtotal,
.mp-stacks-eddcart-container .edd_checkout,
.mp-stacks-eddcart-container .cart_item.empty{
	padding:20px;	
}
.mp-stacks-eddcart-container .edd_checkout{
	text-align:center;	
	padding-bottom:0px;
	border-bottom:none;
}
.mp-stacks-eddcart-container .edd-remove-from-cart{
	font-size:0;	
}
.mp-stacks-eddcart-container .edd-remove-from-cart:before{
	display: inline-block;
	font-family: 'fontawesome';
	font-style: normal;
	font-weight: normal;
	font-size:15px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content: "\f00d";
}
.mp-stacks-eddcart-container .mp-stacks-eddcart-cart-btn{
	text-decoration:none;
	position:relative;
	display:inline-block;
}
.mp-stacks-eddcart-container .mp-stacks-eddcart-shopping-cart-icon{
	font-size:30px;	
	margin-right: 5px;
}
.mp-stacks-eddcart-container .edd-cart-quantity{
	position:absolute;
	top:0px;
	right:0px;
	background-color:#d54e21;
	color:#FFF;
	padding:2px;
	border-radius: 50%;	
	font-size:9px;
	width:10px;
	height:10px;
}